@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

html {
  font-size: 100%;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.7;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* header */
header {
  background-color: teal;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50px;
  margin-top: 14px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.top-nav {
  display: flex;
  font-size: 1.25rem;
  list-style: none;
  margin: 36px;
}

.top-nav li {
  margin: 16px;
}

.top-nav a {
  color: white;
}

.top-nav a:hover {
  opacity: 0.7;
}

/* top page main-visual */
.big-bg {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

#main-visual {
  background-image: url(images/KV.jpg);
  min-height: 50vh;
  margin: 0;
}

.top-title {
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  font-weight: bold;
  font-family: "Sawarabi Mincho", sans-selif;
  color: white;
  margin: 0;
}

/* top-menu */
.top-menu {
  background: teal;
  margin: 0;
}

.top-button {
  display: flex;
  font-size: 2rem;
  list-style: none;
  margin:  auto;
  padding: 0px;
}

.top-button li {
  margin: 36px auto;
  font-family: "Sawarabi Mincho", sans-serif;
}

.shop-button {
  background: #0bd;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0px;
}

.shop-button:hover {
  opacity: 0.7;
}

.feature-button {
  background: #0bd;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0px;
}

.feature-button:hover {
  opacity: 0.7;
}

.flower-button {
  background: #0bd;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0px;
}

.flower-button:hover {
  opacity: 0.7;
}

/* page backgroud */
.page {
  background: teal;
  margin: 0;
}

/* page title */
.page-titlebox{
  background: #432;
}

.page-title {
  color: white;
  text-align: center;
  margin: 0;
}

/* shop page */
.shop-all {
  display: flex;
  justify-content: center;
}

.shop-img {
  text-align: center;
}

.shop-logo {
  margin-top: 36px;
}

.shop-list {
  list-style: none;
  color: white;
  margin-top: 150px;
  margin-bottom: 0;
  margin-left: 16px;
  padding: 0;
}

/* feature page */
.feature-title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  color: white;
}

.feature-point {
  background: tomato;
  color: white;
  border-radius: 10px;
  padding: 8px;
  width: 150px;
  text-align: center;
  margin: 36px auto;
}

.feature-box {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.feature-list {
  color: white;
}

.feature-list li {
  margin-top: 36px;
}

/* flower page */
.komusubi-image {
  border-radius: 10px;
  margin-top: 36px;
}

.komusubi {
  color: white;
  text-align: center;
}

.ozeki-image {
  border-radius: 10px;
  margin-top: 70px;
}

.ozeki {
  color: white;
  text-align: center;
}

.yokoduna-image {
  border-radius: 10px;
  margin-top: 70px;
}

.yokoduna {
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

.yokodunalast {
  margin-bottom: 0;
}

/* back button */
.back-button {
  text-align: center;
  margin: 0;
}

.back-button2 {
  margin-bottom: 0;
}

/* footer */
.top-footer {
  text-align: center;
  background-color: teal;
  margin: 0;
}

.footer-logo {
  margin-top: 36px;
  width: 50%;
}

.top-footer p {
  color: white;
  margin-bottom: 0px;
}

/* SP対応 */
@media (max-width: 600px) {
  /* header */
  header {
    flex-direction: column;
    align-items: center;
  }

  .top-nav {
    margin: auto;
    padding: 0;
  }

  .top-button {
    flex-direction: column;
    padding: 0;
  }

  /* shop page */
.shop-all {
  flex-direction: column;
}

  .shop-list {
    padding: 0;
    margin-top: 36px;
  }
  
}